<div class="card">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr id="{{user.id}}" *ngIf="user.role!='SuperAdmin'">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td *ngIf="this.generalDataService.role=='SuperAdmin' else noAuth" class="deleteAndReconfigColumn"  (click)="showDialog(user)" >
                    <span class="btn btn-warning">
                        <i class="bi bi-pencil-square text-white">
                        </i>
                    </span>
                 </td>
                <td *ngIf="this.generalDataService.role=='SuperAdmin' else noAuth"  class="deleteAndReconfigColumn" (click)="deleteUser(user.id)" >
                    <span  style="color: white;"  class="btn btn-danger">
                        <i class="bi bi-trash text-danger text-white"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template #noAuth>
            <td class="deleteAndReconfigColumn" >
                <span >
                    Yetki Yok
                </span>
             </td>
        </ng-template>
    </p-table>
</div>


<div class="card flex justify-content-center">
    <p-dialog header="ID : {{dialogUser?.id}}" [(visible)]="visible" [style]="{width: '50vw'}" [closable]>
        <div class="card flex justify-content-center text-center">
            <form class="form">
                <label for="name ">UserName  </label> 
                <br>
                <br>
                <input id="name" type="text" class="form-control bg-secondary text-white" value="{{dialogUser?.name}}" #name> <br> <br>
                <label for="name">Email</label> 
                <br>
                <input type="text" class="form-control bg-secondary text-white"value="{{dialogUser?.email}}" #email> 
                <br>
                <br> 
                <button class="btn btn-danger" (click)="updateUser(name.value,email.value)" >Güncelle</button>
                <!-- <button class="btn btn-danger" >Güncelle</button> -->
            </form>
        </div>
    </p-dialog>
</div>


<div *ngIf="showMessage">
    <div class="card">
        <p-messages [(value)]="messages" ></p-messages>
    </div>
</div>