
<div class="border">

<div class="card " >
    <p-table [value]="topologies" [tableStyle]="{ 'min-width': '50rem' }"  >
        <ng-template pTemplate="header">
            <tr class="border text-center" >
                <th>Topoloji ID</th>
                <th>Topoloji Adı</th>
                <th>Topoloji Tipi</th>
                <th>Topoloji WKT</th>
                <th> Aktif Kullanıcı</th>
                <th> Kullanıcı Seç / Sil</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-topology class="border-bottom  text-center " >
            <tr style="border: 1px;" class="text-center" >
                <td class="text-center">{{ topology?.id }} </td> 
                <td class="text-center">

                    {{topology?.name}}
                </td>
                <td class="text-center">
                    {{topology?.type}} 

                </td>
                <td class="text-center">
                    <textarea class="textarea-container text-start " readonly="true" cols="h-auto " rows="4" resize="none" 
                    style="border: none; border-bottom: 1px; width:100%; pointer-events: painted; resize: none;"   >
                        {{topology?.wkt}}
                    </textarea> 
                    <hr>
                </td>
                <td> 
                    <div *ngIf="topology.userId;else noTopology ">
                        Aktif Kullanıcı ID: {{topology.userId}} <br>
                        Aktif Kullanıcı Adı: {{topology.userName}}
                    </div>
                    <ng-template #noTopology>
                        <span>Aktif Bir Kullanıcı Atanmadı</span>
                    </ng-template>
                </td>
                <td> 
                    <div class="text-center">
                        <p-toast></p-toast>
                        <p-button (click)="show(topology)" severity="warning" icon="" label="Kullanıcılar" class="border-radius"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>


<div class="card flex justify-content-center">
    <p-dialog header="Kullanıcılar" [(visible)]="visible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
        <p-table [value]="users" responsiveLayout="scroll" [paginator]="true" [rows]="5" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">ID <p-sortIcon field="vin"></p-sortIcon></th>
                    <th pSortableColumn="year">Name</th>
                    <th pSortableColumn="price">Email <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="price">Role <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="price"> <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="price"> <p-sortIcon field="price"></p-sortIcon></th>
                    <th style="width:4em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email}}</td>
                    <td>
                        <p-tag [value]="user.role" severity="{{user.role[0]=='SuperAdmin'?'success':user.role[0]=='Admin'?'warning':'danger'}}"> </p-tag>
                    </td>
                    <td >
                        <button *ngIf="user.role[0]!='SuperAdmin'" type="button" pButton icon="pi pi-plus" 
                        (click)="assignTopology(user)">Bölgeye Ata</button>
                    </td>
                    <td >
                        <button *ngIf="user.role[0]!='SuperAdmin'" type="button" pButton icon="pi pi-plus" 
                        (click)="clearTopologyAndCloseModal(user)">Bölgeleri Temizle</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
</div>