<mat-dialog-content class="mat-typography" *ngIf="listLocAndUsers.length>0">
  <h2 mat-dialog-title>Kayıt Listesi</h2>
  <table class="mat-table">
    <thead class="text-center">
      <tr>
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">WKT</th>
        <th scope="col">Göster</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr id="dataRow{{item.id}}" class="trRow" *ngFor="let item of listLocAndUsers">
        <th class="border" scope="row">{{item.id}}</th>
        <td class="border">{{ item.name }}</td>
        <td class="border" >{{ item.type }}</td>
        <td class="border"><span><i class="bi bi-pin-map-fill text-warning" (click)="getLocation(item.id,item.name,item.type,item.wkt)" 
          [mat-dialog-close]="true" ></i></span></td>
        <td><span><i class="bi bi-trash text-danger" (click)="deleteLocAndUser(item.id)"></i></span></td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="listLocAndUsers.length>0">
  <button mat-button mat-dialog-close>Çık</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

<!-- 
<div class="card flex flex-column align-items-center gap-2">
  <div class="flex flex-wrap gap-2">
      <p-button (click)="showDialog('top')" icon="pi pi-arrow-down" label="Top" styleClass="p-button-warning" class="z-3 ">dadada</p-button>
  </div>
  <p-dialog header="Header" [(visible)]="visible" [position]="'top'" [style]="{ width: '50vw' }">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </p-dialog>
</div> -->
