<div class="sidebar">
  <ul>
    <label for="" class="form-label  rounded-5 border-warning">Admin Paneli</label> <hr>
    <li class="item rounded-5 border-warning "><a routerLink="/maps">Haritaya Git</a></li> <br>
    <li class="item rounded-5 border-warning "><a routerLink="/admin/users">Tüm Kullanıcılar</a></li><br>
    <li class="item rounded-5 border-warning "><a routerLink="/admin/roles">Rol Düzenle</a></li><br>
    <li class="item rounded-5 border-warning "><a routerLink="/admin/permissions">İzinleri Düzenle</a></li><br>
    <li class="item rounded-5 border-warning "><a routerLink="/login-signup">Çıkış</a></li><br>
</ul>
</div>

<div class="content">
    <label for="" class="form-label  rounded-5 border-warning">Kullanıcı : {{generalDataService.userName}}</label> <hr>
    <router-outlet></router-outlet>
</div>
